body {
  background-color: #FAFAFA;
  margin: 0 auto;
}
img{
  display: block;
  margin: 0 auto;
  width:1000px;
  height:300px;
}
h1 {
  font-family: verdana,sans-serif;
  font-weight: bold;
  color: #DC143C;
  text-align:center;
}

h2 {
  font-family: verdana,sans-serif;
  font-weight: bold;
  color: #0066cc;
  text-align: center;
}
h3,h4,h5,h6{
  font-family: verdana,sans-serif;
  font-weight: bold;
}

p{
  font-family: Georgia,sans-serif;
  font-size: 18px;
  text-align: center;
}

.clearfix{
  overflow: auto;
}
.bild{
  width: 40%;
  height: 50%;
}
#fähigkeiten{
  float: left;
  margin-left: 200px;
}
#list{
  font-family: Georgia,sans-serif;
  font-size: 18px;
  text-align: left;
}

#inner_List{
  width: 300px;
  height: 300px;
  margin-left: 300px;
  margin: 0 auto;

}

#frame{
  width:500px;
  height:300px;
  margin: 0 auto;
  float: right;
  margin-right: 300px;
}

#Spielprinzip img{
  margin-right: 100px;
}

#Fähigkeiten{
  width: 300px;
  height: 100px;
}

#Spiel{
  font-family: Georgia,sans-serif;
  width: 700px;
  height: 200px;
  text-align: justify;
  margin-left: 200px;
}


#Chars{
  font-family: Georgia,sans-serif;
  text-align: center;
}
